<section class="about container">
    <h1 class="text-center mb-5">About Me</h1>
    <p>
       Hello folks! My name is Pritika Srivastava.I graduated in year 2022 from United Institute Of Technology in Computer science and Engineering stream.
    </p>
    <p>
      I am working as a Trainee Associate Software engineer in @kjdsidj and I am in my training period learning,gaining knowldege and implementing new technology .
    </p>
    <p>
       In my college period I have done few courses like Web Development,Python and JAVA ,have done a workshop in Machine Learning with python from IIT BHU varansi.
    </p>

    <div class="follow text-center">
        <h4>Follow Me On My Social Media Handles</h4>
        <a href="#">Facebook</a>
        <a href="#">Youtube</a>
        <a href="#">Instagram</a>
        <a href="#">Twitter</a>
    </div>

</section>