.course
{
    background-color: rgb(243, 166, 167);;
    padding: 50px 100px;
}
.box
{
    background-color: rgb(189, 233, 245);
    padding: 10px 20px;
}
.course img
{
    width: 20%;
    height: 20px;
    object-position: left;
    object-fit: cover;
}

@media screen and (max-width:600px)
{
    .course
{
    background-color: rgb(243, 166, 167);
    padding: 50px 10px;
}
}