<section class="home">
    <img src="https://images.unsplash.com/photo-1518655048521-f130df041f66?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cG9ydGZvbGlvJTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60">
    
    <div class="homecontent">
    <h1>HEY! This is my Portfolio you will get to know a littil bit about me so welcome to my page</h1>
    <a routerLink="course" class="btn btn-lg btn-light">Certification and Courses I Have Done !</a> &nbsp;

    
    </div>
    </section>